
<div class="content-wrapper">
    <div class="header-and-filters">
      <h1 class="main-heading">Add Alerts & Notifications</h1>
    </div>
    <form [formGroup]="addAlertForm" novalidate autocomplete="off" (ngSubmit)="onSubmit()" class="styled-form">

      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <label for="alertType">Alert Type</label>
            <select formControlName="alertType" id="alertType" class="form-control"
              name="alertType"  required>
                <option value="" disabled selected>Select Type</option>
                <option *ngFor="let type of alertTypes" [value]="type">{{ type }}</option>
              </select>
          </div>
          <div class="col-md-6">
            <label for="alertMessage">Alert Message</label>
            <select formControlName="alertMessage" id="alertMessage" class="form-control"
            name="alertMessage"  required>
              <option value="" disabled selected>Select Type</option>
              <option *ngFor="let message of alertMessages" [value]="message">{{ message }}</option>
            </select>
          </div>
        </div>
         <!-- Row 2 (Employee Name, End Date) -->
         <div class="row">
          <div class="col-md-6">
            <label for="employeeName">Employee Name</label>
            <input
            type="text"
            formControlName="employeeName"
            id="employeeName"
            class="form-control"
            placeholder="Enter Employee Name"
          />
          </div>
          <div class="col-md-6">
            <label for="isRead">Is Read?</label>
            <select
            formControlName="isRead"  id="isRead" 
            class="form-control"
            name="isRead"  required>
              <option value="" disabled selected>Select</option>
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
        </div>
     

       <!-- Row 2 (Priority Level, Expires At) -->
       <div class="row">
        <div class="col-md-4">
          <label for="priorityLevel">Priority Level</label>
          <select formControlName="priorityLevel" id="priorityLevel" class="form-control"
          name="priorityLevel"  required>
            <option value="" disabled selected>Select Type</option>
            <option *ngFor="let priority of priorityLevels" [value]="priority">{{ priority }}</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="expiresAt">Expires At</label>
          <input
            type="datetime-local"
            formControlName="expiresAt"
            id="expiresAt"
            name="expiresAt"
            class="form-control" required
          />
        </div>
      </div>
    </div>

     <!-- Modal Footer -->
     <div class="modal-footer">
      <button type="button" class="add-more" (click)="addMore()">Add More</button>
      <button type="submit" class="save-and-exit ">Save and Exit</button>

  

