<div class="content-wrapper">
    <div class="header-and-filters">
      <h1 class="main-heading">Holidays List</h1>
      <button class="add-holiday-btn" (click)="openCreateFormModal(AddHolidayForm, 'add')">
        Add Holiday
      </button>
    </div>
  
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>S.No</th>
            <th>Holiday Name</th>
            <th>Date</th>
            <th>Holiday Type</th>
            <th>Region/Dept</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let holiday of holidays; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{ holiday.holiday_name}}</td>
            <td>{{ holiday.holiday_date }}</td>
            <td>{{ holiday.holiday_type }}</td>
            <td>{{ holiday.region }}</td>
            <td>
              <div class="button-wrapper">
                <button (click)="openCreateFormModal(AddHolidayForm, 'view', holiday)" mat-icon-button color="primary" class="btn-view">  <!--Required changes-->
                  <mat-icon>visibility</mat-icon>
                </button>
                <span class="button-text-view">View</span>
              </div>
  
              <div class="button-wrapper">
                <button (click)="openCreateFormModal(AddHolidayForm, 'edit', holiday)" mat-icon-button color="accent" class="btn-edit"> <!--Required changes-->
                  <mat-icon>edit</mat-icon>
                </button>
                <span class="button-text-edit">Edit</span>
              </div>
  
              <div class="button-wrapper">
                <button (click)="onDelete(holiday)" mat-icon-button color="warn" class="btn-delete"> 
                  <mat-icon>delete</mat-icon>
                </button>
                <span class="button-text-delete">Delete</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
  
<ng-template #AddHolidayForm>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form
        [formGroup]="addHolidayForm"
        novalidate
        autocomplete="off"
        (ngSubmit)="isEditMode ? updateHoliday() : addHoliday()">
        <div class="modal-header">
          <h4 class="modal-title">
            {{ isViewMode ? 'View Holiday' : isEditMode ? 'Edit Holiday' : 'Add Holiday' }}
          </h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="closeCreateFormModal()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Row 1 (Holiday Name, Holiday Type) -->
          <div class="row">
            <div class="col-md-6">
              <label for="holiday_name">Holiday Name</label>
              <input
                type="text"
                formControlName="holiday_name"
                id="holiday_name"
                class="form-control"
                placeholder="Enter Holiday Name"
                [readonly]="isViewMode"
              />
            </div>
              
              <div class="col-md-6">
                <label for="holiday_type">Holiday Type</label>
                <select
                  formControlName="holiday_type"
                  id="holiday_type"
                  class="form-control"
                  [disabled]="isViewMode"
                >
                  <option value="Public">Public</option>
                  <option value="Company">Company</option>
                  <option value="Others">Others</option>
                </select>
              </div>
          </div>

          <!-- Row 2 (Holiday Date , Region) -->
          <div class="row">
            <div class="col-md-6">
              <label for="holiday_date">Holiday Date</label>
              <input
                type="date"
                formControlName="holiday_date"
                id="holiday_date"
                class="form-control"
                [readonly]="isViewMode"
              />
            </div>
            <div class="col-md-6">
              <label for="region">Region</label>
              <select
                formControlName="region"
                id="region"
                class="form-control"
                [disabled]="isViewMode"
              >
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                
              </select>
            </div>
          </div>

          <!-- Row 3 (Description) -->
          <div class="row">
            <div class="col-md-6">
              <label for="description">Description</label>
              <input
                type="text"
                formControlName="description"
                id="description"
                class="form-control"
                placeholder="Enter description"
                [readonly]="isViewMode"
              />
            </div>
          </div>
         
          <!-- Row 4 (Is Recurring) -->
          <div class="row">
            <div class="col-md-6">
              <label for="is_recurring">Is Recurring</label>
              <select formControlName="is_recurring" id="is_recurring"
                class="form-control" [disabled]="isViewMode" >
                <option value="">Yes</option>
                <option value="">No</option>
                <option value="">others</option>
              </select>
            </div>
            
          </div>
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeCreateFormModal()">Close
          </button>
          <button
            type="submit"
            class="btn btn-success"
            *ngIf="!isViewMode"
          >
            {{ isEditMode ? 'Save Changes' : 'Add Holiday' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
  