<div class="content-wrapper">
  <div class="header-and-filters">
    <h1 class="main-heading">Leave Balance Report</h1>
    </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>S.NO</th>
          <th>Employee Name</th>
          <th>Employee Id</th>
          <th>Department</th>
          <th>Role</th>
          <th>Pending Leaves</th>
          <th>Action</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees; index as i">
          <td>{{ i+1}}</td>
          <td>{{ employee.employee_name }}</td>
          <td>{{ employee.employee_id}}</td>
          <td>{{ employee.department}}</td>
          <td>{{ employee.role}}</td>
          <td>{{ employee.pending_leave}}</td>
         
          

          
          <td>
            <div class="button-wrapper">
              <button
                (click)="openCreateFormModal(LeaveRequestForm, 'view', employee)"
                mat-icon-button
                color="primary"
                class="btn-view"
              >
                <mat-icon>visibility</mat-icon>
              </button>
              <span class="button-text-view">View</span>
            </div>

            <div class="button-wrapper">
              <button
                (click)="openCreateFormModal(LeaveRequestForm, 'edit', employee)"
                mat-icon-button
                color="accent"
                class="btn-edit"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <span class="button-text-edit">Edit</span>
            </div>

            <div class="button-wrapper">
              <button
                (click)="onDelete(employee)"
                mat-icon-button
                color="warn"
                class="btn-delete"
              >
                <mat-icon>delete</mat-icon>
              </button>
              <span class="button-text-delete">Delete</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #LeaveRequestForm>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form
        [formGroup]="leaverequestform"
        novalidate
        autocomplete="off"
        (ngSubmit)="isEditMode ? updateLeaveRequest() : addLeaveRequest()"
      >
        <div class="modal-header">
          <h4 class="modal-title">
            {{ isViewMode ? 'View Leave Request' : isEditMode ? 'Edit Leave Request' : 'Add Employee' }}
          </h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="closeCreateFormModal()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <!-- Row 1 (Employee Name, Employee Type) -->
          <div class="row">
            <div class="col-md-6">
              <label for="employee_name">Employee Name</label>
              <input
                type="text"
                formControlName="employee_name"
                id="employee_name"
                class="form-control"
                placeholder="Enter Employee Name"
                [readonly]="isViewMode"
              />
            </div>
            <div class="col-md-6">
              <label for="employee_id">Employee Id</label>
              <input
                type="text"
                formControlName="employee_id"
                id="employee_id"
                class="form-control"
                placeholder="Enter Employee Id"
                [readonly]="isViewMode"
              />
            </div>
          </div>

          <!-- Row 2 (Role, Status) -->
          <div class="row">
            <div class="col-md-6">
              <label for="department">Department</label>
              <input
                type="text"
                formControlName="department"
                id="department"
                class="form-control"
                placeholder="Enter Department"
                [readonly]="isViewMode"
              />
            </div>
            <div class="col-md-6">
              <label for="role">Role</label>
              <input
                type="text"
                formControlName="role"
                id="role"
                class="form-control"
                placeholder="Enter Role"
                [readonly]="isViewMode"
              />
            </div>
          </div>

          <!-- Row 3 (Check In, Check Out) -->
          <div class="row">
            <div class="col-md-6">
              <label for="pending_leave">Pending Leaves</label>
              <input
                type="text"
                formControlName="pending_leave"
                id="pending_leave"
                class="form-control"
                placeholder="Enter Leave Type"
                [readonly]="isViewMode"
              />
            </div>
            
          </div>

          <!-- Row 4 (Work Hours) -->
          
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            (click)="closeCreateFormModal()"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-success"
            *ngIf="!isViewMode"
          >
            {{ isEditMode ? 'Save Changes' : 'Add Employee' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
